.header__body {
    @include wrapper(98%);
}

.header__logo {
    @include logo(left, $logo-main-color, $logo-second-color, 2.1% 0);
}

.anchors {
    li {
        width: 8%;
        margin: 2.7% -.7% 0 3.5%;
        padding: 0 0 .7%;
        float: right;
        text-align: center;
    }
    li:hover {
        border-bottom: 2px solid $active-color;
    }
    a {
        display: block;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
    }
    span {
        @include font-settings($font-stack-main, $font-size-header, $header-text-color);
    }
    .scroll:hover span {
        display: inline-block;
        animation: scroll 4s infinite linear;
    }
    @keyframes scroll {
        0% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(120%, 0);
        }
        50.0001% {
            transform: translate(-120%, 0);
        }
        100% {
            transform: translate(0, 0)
        }
    }
}

.banner {
    background: linear-gradient(to right, #0474bc, #32b3ed);
}

.banner__text {
    @include wrapper(75%);
    @include font-settings($font-stack-main, $font-size-banner/1.33, $banner-text-color);
    padding: 10%;
    text-align: center;
}

.boxes {
    @include wrapper(98%);
}

.boxes__top {
    @include tops(8%);
}

.boxes__top:before,
.boxes__top:after {
    @include divide-line(20%, $main-text-color, 0 5%);
}

.boxes__content {
    padding-top: 6.3%;
}

.boxes__article {
    width: 30.5%;
    padding: 0 1%;
    margin-right: 1%;
    float: left;
    border-radius: 15px;
    background: $boxes-background;
    line-height: 24px;
    @include font-settings($font-stack-main, $font-size-boxes/1.14, $main-text-color);
}

.boxes__article-alignment {
    padding-top: 2.8%;
    padding-bottom: 5%;
    overflow: hidden;
}

.boxes__article:last-child {
    margin-right: 0;
}

.filters {
    @include wrapper(98%);
}

.filters__top {
    @include tops(8%);
}

.filters__top:before,
.filters__top:after {
    @include divide-line(20%, $main-text-color, 0 5%);
}

.filters__buttons {
    margin: 5% 0;
    text-align: center;
    li {
        display: inline-block;
        width: 13%;
        margin: 0 1%;
        padding: 1% 1%;
        border: 1px solid $active-color;
        border-radius: 4px;
        @include font-settings($font-stack-main, $font-size-buttons, $active-color);
    }
    .active {
        background: $active-color;
        @include font-settings($font-stack-main, $font-size-buttons, $active-button-text-color);
    }
}

.filters__pictures {
    margin: 6% 0 13.5%;
    text-align: center;
    li {
        display: inline-block;
        margin: 3.4%;
    }
    img:hover {
        transition: -webkit-filter 1s;
        -webkit-filter: sepia(1);
    }
    .del {
        display: none;
    }
}

.footer__body {
    background: $footer-background;
}

.footer__wrapper{
    @include wrapper(98%);
}

.footer__logo-section {
    width: 32%;
    float: left;
}

.footer__logo {
    @include logo(none, $footer-text-color, $logo-second-color, 14% 0 6%);
}

.footer__text {
    @include font-settings($font-stack-main, $font-size-footer, $footer-text-color);
    line-height: 24px;
}

.footer__switcher-section {
    width: 25%;
    float: left;
    margin: 4% 0 0 7%;
}

.footer__category {
    @include font-settings($font-stack-main, $font-size-footer-tops, $footer-text-color);
    text-transform: uppercase;
}

.footer__line:before {
    @include divide-line(41%, $active-color, 0);
}
.footer__line:after {
    @include divide-line(45%, $footer-text-color, 0);
}

.footer__buttons li {
    display: inline-block;
    width: 42%;
    margin: 4% 8% 0 0;
    padding: 4% 0;
    text-align: center;
    border: 1px solid $main-text-color;
    @include font-settings($font-stack-main, $font-size-footer, $footer-text-color);
}

.footer__buttons li:hover {
    border: 1px solid $active-color;
    @include font-settings($font-stack-main, $font-size-footer, $active-color);
}

.footer__buttons li:last-child {
    margin-right: 0;
}

.footer__menu-section {
    width: 25%;
    float: left;
    margin: 4% 0 6% 9.4%;
}

.footer__menu {
    margin: 10% 0 0 8%;
}

.footer__menu li {
    position: relative;
    margin: 9% 0;
    list-style-type: none;
    @include font-settings($font-stack-main, $font-size-footer, $footer-text-color);
}

.footer__menu li:hover {
    color: $active-color;
}

.footer__menu li:before {
    position: absolute;
    left: -8%;
    font-size: 35px;
    line-height: 14px;
    content: '\2023';
}

.footer__menu a {
    display: block;
    text-decoration: none;
    @include font-settings($font-stack-main, $font-size-footer, $footer-text-color);
}

.footer__menu a:hover {
    color: $active-color;
}
