// Text colors

$logo-main-color: #000;                                 //Main logo color
$logo-second-color: #0474bc;                            //Secondary logo color
$header-text-color: #000;                               //Header text
$main-text-color: #797979;                              //Main text
$active-button-text-color: #fff;                        //The text of the highlighted button
$banner-text-color: #fff;                               //Text on the banner
$footer-text-color: #fff;                               //Footer text

// Color elements
$active-color: #0474bc;                                 //Selected items
$boxes-background: #dedede;                             //Background articles
$footer-background: #1a1a1a;                            //Background footer

// Fonts

$font-stack-logo: 'Myriad Pro regular';                 //Logo
$font-stack-main: 'Myriad Pro regular';                 //main
$font-stack-banner: 'Myriad Pro regular';               //banner

// Font size

$font-size-logo: 32px;                                  //Logo
$font-size-header: 20px;                                //Anchor links
$font-size-banner: 80px;                                //Banner text
$font-size-tops: 32px;                                  //Headers
$font-size-boxes: 16px;                                 //Articles
$font-size-buttons: 17px;                               //Filter buttons
$font-size-footer: 16px;                                //Footer
$font-size-footer-tops: 20px;                           //Footer headers
